<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Milestones</title>
</head>
<body>

    <h1>Milestones</h1>

    <div id="y">
        1973
    </div>
    <div id="m">
        4
    </div>
    <div id="d">
        27
    </div>

    <div id="calc">


    Calculate dates


    </div>



    <div>

    </div>

<script src="lodash.min.js"></script>
<script>
/*global Date, _, console */
//var array = [{id: 1 date: Mar 12 2012 10:00:00 AM}{id: 2 date: Mar 8 2012 08:00:00 AM}];
// array.sort(function(a,b){
//   // Turn your strings into dates, and then subtract them
//   // to get a value that is either negative, positive, or zero.
//   return new Date(b.date) - new Date(a.date);
// });

    // http://www.timeanddate.com/date/birthdayresult.html?d1=27&m1=05&y1=1973&h1=&i1=&s1=&type=0&gran=5





(function (doc) {

    'use strict';


    Date.prototype.addSeconds = function (h) {
        var d = new Date(this);
        d.setSeconds(d.getSeconds() + h);
        return d;
    };

    Date.prototype.addMinutes = function (h) {
        var d = new Date(this);
        d.setMinutes(d.getMinutes() + h);
        return d;
    };

    Date.prototype.addHours = function (h) {
        var d = new Date(this);
        d.setHours(d.getHours() + h);
        return d;
    };

    Date.prototype.addDays = function (m) {
        var d = new Date(this);
        d.setDate(d.getDate() + m);
        return d;
    };

    Date.prototype.addWeeks = function (m) {
        var d = new Date(this);
        d.setDate(d.getDate() + (m * 7));
        return d;
    };

    Date.prototype.addMonths = function (m) {
        var d = new Date(this);
        d.setMonth(d.getMonth() + m);
        return d;
    };

    Date.prototype.addYears = function (m) {
        var d = new Date(this);
        d.setFullYear(d.getFullYear() + m);
        return d;
    };

    Date.prototype.getFormattedMonth = function () {
        return (this.getMonth() < 9 ? '0' : '') + (this.getMonth() + 1);
    };

    Date.prototype.getFormattedDate = function () {
        return (this.getDate() < 10 ? '0' : '') + (this.getDate());
    };


    var y = doc.getElementById('y').innerHTML,
        m = doc.getElementById('m').innerHTML,
        d = doc.getElementById('d').innerHTML,
        calc = doc.getElementById('calc'),
        birth, milestones, today,
        html = '', list,
        prev, last;

    milestones = {
        seconds: {
            min: 500000000,
            max: 3000000000,
            getDate: function (b, m) {
                return b.addSeconds(m);
            }
        },
        minutes: {
            min: 5000000,
            max: 50000000,
            getDate: function (b, m) {
                return b.addMinutes(m);
            }
        },
        hours: {
            min: 100000,
            max: 800000,
            getDate: function (b, m) {
                return b.addHours(m);
            }
        },
        days: {
            min: 5000,
            max: 35000,
            getDate: function (b, m) {
                return b.addDays(m);
            }
        },
        weeks: {
            min: 500,
            max: 5000,
            getDate: function (b, m) {
                return b.addWeeks(m);
            }
        },
        months: {
            min: 100,
            max: 1100,
            getDate: function (b, m) {
                return b.addMonths(m);
            }
        },
        years: {
            min: 10,
            max: 100,
            getDate: function (b, m) {
                return b.addYears(m);
            }
        }
    };
    
    birth = new Date();
    today = new Date();
    birth.setYear(y);
    birth.setMonth(m);
    birth.setDate(d);
    birth.setHours(0);
    birth.setMinutes(0);
    //birth.setSeconds(0)


    list = [{
            date: today,
            html: _.template(
                '<li><%= year %>-<%= month %>-<%= day %> <%= t %></li>',
                    {
                    't': 'Today. ',
                    'day': today.getFormattedDate(),
                    'month': today.getFormattedMonth(),
                    'year': today.getFullYear()
                }
            )
            }];

    _(milestones).forEach(function (milestone, unit) {

        var m = milestone.min,
            d, l;

        while (m <= milestone.max) {
            
            d = milestone.getDate(birth, m);
            //console.log(d);
            
            l = {
                date: d,
                html: _.template(
                    '<li>On <%= year %>-<%= month %>-<%= day %> you will be ' +
                    '<%= m %> <%= unit %></li>',
                    {
                        'unit': unit,
                        'm': m,
                        'day': d.getFormattedDate(),
                        'month': d.getFormattedMonth(),
                        'year': d.getFullYear()
                    }
                )
                };

            list.push(l);

            m += milestone.min;
        }

    });

    list = _.sortBy(list, function (l) { return l.date; });

    

    _(list).forEach(function (l) {
        
        last = l;

        if (prev) {

            if (prev.date.valueOf() === l.date.valueOf()) {
                console.log(prev.html);
            } else {
                html += prev.html;
            }

            prev = l;

        } else {
            prev = l;
        }

    });

    html += last.html;

    calc.innerHTML = html;

}(document));
</script>
</body>
</html>
