<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Milestones</title>

    <style>

    .date {
        width: 20em;
    }
    .year-month {
        background-color: #b54c4b;
        color: #fff;
    }
    .day {
        font-size: 6em;
    }

    </style>    

</head>
<body>

    <h1>Milestones</h1>

    <label>
        When were you born?
        <input id="date-natural" type="text" placeholder="YYYY-MM-DD, HH:MM">
    </label>

    <label>
        You were born on
        <input id="date" type="date" value="1980-01-01">
    </label>

    <label>
        at
        <input id="time" type="time" value="12:00">
    </label>

        
    <div class="date">
        
        <div class="year-month">2015 mars</div>

        <div class="day">29</div>

    </div>        

    <div id="calc"></div>


<script src="jquery-2.0.3-minimal.min.js"></script>
<script src="lodash.min.js"></script>
<script src="date-en-US.js"></script>


<script>
/*global Date, _, console */
//var array = [{id: 1 date: Mar 12 2012 10:00:00 AM}{id: 2 date: Mar 8 2012 08:00:00 AM}];
// array.sort(function(a,b){
//   // Turn your strings into dates, and then subtract them
//   // to get a value that is either negative, positive, or zero.
//   return new Date(b.date) - new Date(a.date);
// });

    // http://www.timeanddate.com/date/birthdayresult.html?d1=27&m1=05&y1=1973&h1=&i1=&s1=&type=0&gran=5





(function (doc) {

    'use strict';


    function addSeconds(_d, h) {
        var d = new Date(_d);
        d.setSeconds(d.getSeconds() + h);
        return d;
    }

    function addMinutes(_d, h) {
        var d = new Date(_d);
        d.setMinutes(d.getMinutes() + h);
        return d;
    }

    function addHours(_d, h) {
        var d = new Date(_d);
        d.setHours(d.getHours() + h);
        return d;
    }

    function addDays(_d, m) {
        var d = new Date(_d);
        d.setDate(d.getDate() + m);
        return d;
    }

    function addWeeks(_d, m) {
        var d = new Date(_d);
        d.setDate(d.getDate() + (m * 7));
        return d;
    }

    function addMonths(_d, m) {
        var d = new Date(_d);
        d.setMonth(d.getMonth() + m);
        return d;
    }

    function addYears(_d, m) {
        var d = new Date(_d);
        d.setFullYear(d.getFullYear() + m);
        return d;
    }

    function getFormattedMonth(d) {
        return (d.getMonth() < 9 ? '0' : '') + (d.getMonth() + 1);
    }

    function getFormattedDate(d) {
        return (d.getDate() < 10 ? '0' : '') + (d.getDate());
    }


    var date = doc.getElementById('date').value,
        time = doc.getElementById('time').value,
        calc = doc.getElementById('calc'),
        birth, prevBirth, milestones, today,
        html = '', list,
        prev, last, todayMilestone, milestoneMarkup, todayMarkup;

    milestoneMarkup = '<li>On <%= year %>-<%= month %>-<%= day %> you will be ' +
         '<%= m %> <%= unit %></li>';

    todayMarkup = '<li>Today <%= year %>-<%= month %>-<%= day %> you are ' +
         '<%= m %></li>';


    today = new Date();

    todayMilestone = {
        date: today,
        unit: null,
        milestone: null,
        getDate: function () {
            return today;
        }
    };

    milestones = {
        seconds: {
            min: 500000000,
            max: 3000000000,
            getDate: addSeconds
        },
        minutes: {
            min: 5000000,
            max: 50000000,
            getDate: addMinutes
        },
        hours: {
            min: 100000,
            max: 800000,
            getDate: addHours
        },
        days: {
            min: 5000,
            max: 35000,
            getDate: addDays
        },
        weeks: {
            min: 500,
            max: 5000,
            getDate: addWeeks
        },
        months: {
            min: 100,
            max: 1100,
            getDate: addMonths
        },
        years: {
            min: 10,
            max: 100,
            getDate: addYears
        }
    };
    
    //birth = new Date();
    
    // birth.setYear(y);
    // birth.setMonth(m);
    // birth.setDate(d);
    // birth.setHours(0);
    // birth.setMinutes(0);

    function drawMilestones(birth) {
        console.log('Drawing');
        var html = '';
        
        _(list).forEach(function (m, unit) {
            
            // html += _.template(
            //     '<li>On <%= year %>-<%= month %>-<%= day %> you will be ' +
            //     '<%= m %> <%= unit %></li>',
                // {
                //     'unit': m.unit,
                //     'm': m.milestone,
                //     'day': getFormattedDate(m.date),
                //     'month': getFormattedMonth(m.date),
                //     'year': m.date.getFullYear()
                // }
            // );

            if (m.unit) {
                html += _.template(milestoneMarkup, {
                    'unit': m.unit,
                    'm': m.milestone,
                    'day': getFormattedDate(m.date),
                    'month': getFormattedMonth(m.date),
                    'year': m.date.getFullYear()
                });
            } else {
                console.log(today);
                console.log(birth);
                html += _.template(todayMarkup, {
                    'unit': 'days',
                    'm': Math.ceil((today - birth) / 60 / 60 / 24 / 1000) + ' days.',
                    'day': getFormattedDate(m.date),
                    'month': getFormattedMonth(m.date),
                    'year': m.date.getFullYear()
                });
            }

        });
        calc.innerHTML = html;
    }

    function recalculateMilestones(d) {
        //console.log(d);
        var newList = [],
            todayPushed = false;
        // todayMilestone

        _(list).forEach(function (m, unit) {
            //console.log(m);
           // console.log(m);
            if (m.unit) {
                m.date = m.getDate(d, m.milestone);
                if (!todayPushed && m.date > today) {
                    newList.push(todayMilestone);
                    todayPushed = true;        
                }
                newList.push(m);    
            }
            
        });

        list = newList;
    }

    function calculateMilestones(birth) {

        // console.log(date + ', ' + time);
        // console.log(date);
        // console.log(time);
        // console.log(birth);
        //birth.setSeconds(0)

        var mmm = [];

        list = [todayMilestone];
        // {
        //         date: today,
        //         html: _.template(
        //             '<li><%= year %>-<%= month %>-<%= day %> <%= t %></li>',
        //                 {
        //                 't': 'Today. ',
        //                 'day': getFormattedDate(today),
        //                 'month': getFormattedMonth(today),
        //                 'year': today.getFullYear()
        //             }
        //         )
        //         }];

        _(milestones).forEach(function (milestone, unit) {

            var m = milestone.min,
                d, l;

            while (m <= milestone.max) {
                
                d = milestone.getDate(birth, m);
                //console.log(d);
                
                l = {
                    date: d,
                    unit: unit,
                    milestone: m,
                    getDate: milestone.getDate
                    // html: _.template(
                    //     '<li>On <%= year %>-<%= month %>-<%= day %> you will be ' +
                    //     '<%= m %> <%= unit %></li>',
                    //     {
                    //         'unit': unit,
                    //         'm': m,
                    //         'day': getFormattedDate(d),
                    //         'month': getFormattedMonth(d),
                    //         'year': d.getFullYear()
                    //     }
                    // )
                };

                list.push(l);

                m += milestone.min;
            }

        });

        list = _.sortBy(list, function (l) { return l.date; });

        

        _(list).forEach(function (l) {
            
            last = l;



            if (prev) {

                if (prev.date.valueOf() === l.date.valueOf()) {
                    console.log(prev.html);
                } else {
                    mmm.push(prev);
                }

                prev = l;

            } else {
                prev = l;
            }

        });

        mmm.push(last);

        list = mmm.slice();
        //calc.innerHTML = html;
    }
    

    var bbb = Date.parse(date + ', ' + time);

    calculateMilestones(bbb);

    drawMilestones(bbb);
    

    var timeout;

    $('#date-natural').on('keyup', function () {
        var $this = $(this);
        if (timeout) {
            clearTimeout(timeout);
        }
        timeout = setTimeout(function () {

            var d = Date.parse($this.val());
            //console.log(d);
            if (d) {

                if (d.valueOf() !== prevBirth) {

                    $('#date').val(d.getFullYear() + '-' + getFormattedMonth(d) + '-' + getFormattedDate(d));
                    $('#time').val(d.getHours() + ':' + d.getMinutes());
                    recalculateMilestones(d);
                    drawMilestones(d);

                    prevBirth = d.valueOf();

                }
            }

        }, 200);
    });


}(document));
</script>
</body>
</html>
